/* ----------------- Google Fonts -----------------*/

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Hepta+Slab:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 h2 h3 h4 h5 h6 {
    font-family: "Catamaran", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.page-header {
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    color: #40c4ff;
}

.flashed-message {
    font-family: "Hepta Slab", sans-serif;
    font-weight: 600;
    color: #fafafa;
    background-color: #ff4081;
}

.text-shadow {
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    font-family: "Hepta Slab", sans-serif;
    font-weight: 600;
    margin-left: 10px;
}

  main {
    flex: 1 0 auto;
  }

/* ----------------- Home Page -----------------*/

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero_image.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%; 
    opacity: 0.7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
}

.hero-header {
    font-family: "Hepta Slab", sans-serif;
    font-weight: 600;
    z-index: 1;
    position: relative;
    margin-top: 150px;
}

.hero-header a {
    color: #fff;
}

.home-info .card-panel {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    opacity: 0.7;
    z-index: 1;
    position: relative;
}

.home-info-text {
    color: #fff;
    margin: 10px;
    z-index: 1;
    position: relative;
}



/* ----------------- Recipes Page -----------------*/

.recipe-image {
    margin-top: 20px;
}

/* ----------------- Recipe Details -----------------*/

.recipe-page-header {
    margin-top: 80px;
    font-weight: 600;
    font-family: "Catamaran", sans-serif;
    color: #40c4ff;
}

.recipe-name {
    font-weight: 600;
    font-family: "Catamaran", sans-serif;
    color: #40c4ff;
}

.recipe-info-image {
    padding-top: 20px;
}
/* ----------------- Edit Recipes -----------------*/

.edit-buttons {
    margin: 40px;
}

/* ----------------- Register/Login -----------------*/

.btn-large:hover {
    color: #b3e5fc;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#password, #username {
    margin-top: 5px;
}

/* ----------------- Footer -----------------*/

.footer {
    display: block;
    position: relative;
}

.footer .row {
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 200%;
    margin: 10px;
}

.footer a i:hover {
    color: #b3e5fc;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}