{% extends "base.html" %}
{% block content%}

    <div class="hero-image">
    </div>
    <div class="center-align">
        <h1 class="hero-header white-text"><a href="{{ url_for('recipes_menu') }}">Grub's Up!</a></h1>
    </div>

    <section>
        <div class="container home-info">
            <div class="row card-panel opacity">
                <div class="home-info-text col s12 center-align">
                    Share and view recipes with other users! Not signed up yet? Click here to register
                    <a href="{{ url_for('register') }}" class="btn waves-effect waves-light pink accent-3">Sign Up</a>
                </div>
                <div class="home-info-text col s12 center-align">
                    Already registered? Click here to log in! 
                    <a href="{{ url_for('login') }}" class="btn waves-effect waves-light pink accent-3">Log In</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}