{% extends "base.html" %}
{% block content%}
    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_ingredients }}<br>
        {{ recipe.recipe_instructions }}<br>
        {{ recipe.recipe_serves }} <br>
        {{ recipe.recipe_time }} <br>
        {{ recipe.recipe_calories }} <br>
        {{ recipe.recipe_image }}
    {% endfor %}
    <section>
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
            </div>
        </div>
    </section>

{% endblock %}